body {
color: teal; 
font-family: calibri; 
text-align: center;
}

img {
border-radius: 30px;
}

a {
color: navy;
text-decoration: none;
}
a:hover {
  color: blue;
  text-decoration:underline;
}

h1{
color:navy;
}

h2{
text-align: center;
}